*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #7bbfde;
}

html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

header img{
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #4e37cf;
    align-items: center;
    width: 100px;
    height: 100px;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1{
    font-size: 1rem;
    text-align: center;
    color: rgb(19, 19, 19);
}

header p{
    color: rgb(11, 11, 11);
    margin-bottom: 20px;
}

section div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    margin: 10px 0 auto;
}
section div a {
    text-decoration: none;
    color: rgb(5, 5, 5);
    padding: 10px;
    
}

section div article {
    width: 100%;
    min-height: 100px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin-bottom: 10px;
    padding: 20px;
    border: 2px solid #4e37cf;
}

section div article:hover {
    border: 2px solid white;
    border-radius: 5px;
}

section div article h2 {
    font-size: 1.5rem;
    font-weight: none;
}

section div article img {
    margin-right: 10px;
}
/*
@media screen and (max-width: 580px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center; 
        overflow: hidden;
    }
    section div article {  
        max-width: 400px;
        
    }
}